*{
    box-sizing:border-box;
}
html{
    width: 100vw;
}
body {
    padding:2em 6em;
    font-family: Arial;
    text-align: center;
}
h1{
    text-align:center;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*--------Accordion-------*/
.accordion{
    width: 100%;
    margin: auto;
}
.tab-label{
    display: flex;
    flex-direction: column;
    cursor:pointer;
}

.acc_img{
    opacity: 0;
    width: 0;
    height: 0;
    overflow: hidden;
    transition: all 2s ease;
}

.accordion .acc_input{
    width: 0;
    height: 0;
    appearance: none;
    position: absolute;
}

.acc_input:checked+.tab-label .acc_img{
    opacity: 1;
    width: auto;
    height: auto;
    overflow: visible;
}
.active{
    display: none;
}
.accordion:hover .tab-label{
    color:blue;
}
.acc_input:checked+.tab-label .active{
    transform: rotate(45deg);
    color:black;
    display: block;
}
.acc_input:checked+.tab-label{
    color:#000;
}
.accordion_meme:hover .active{
    transform: rotate(45deg);
}
.accordion:hover .active{
    display: block;
    color:blue;
}
.accordion_meme:hover .acc_img{
    opacity: 1;
    width: auto;
    height: auto;
    overflow: visible;
}




/* .accordion .tab-label:before{
    content: '✚';
    font-weight: bolder;
    float: right;
}

.accordion .acc_input:checked+.tab-label:before{
    content: '✚';
    font-weight: bolder;
    transition: 0.5s;
    transform: rotate(45deg);
} */

/* .accordion .acc_body{
    width: 98%;
    width: calc(100% - 20px);
    margin: 0 auto;
    color: rgba(0, 0, 0, 0);;
    background-color: rgba(255, 255, 255, 0.2);
    line-height: 28px;
    padding: 0 20px;
    box-sizing: border-box;
    transition: 0.5s;
}
.accordion label {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    display: block;
    padding: 15px;
    width: 100%;
    color: #000;
    font-weight: 400;
    box-sizing: border-box;
    z-index: 100;
}

.accordion label:before {
    font-family: 'FontAwesome';
    content: '\f067';
    font-weight: bolder;
    float: right;
  }
  
  .accordion input:checked+label {
    background-color: rgba(255, 255, 255, 0.15);
  }
  
  .accordion input:checked+label:before {
    font-family: 'FontAwesome';
    content: '\f00d';
    transition: 0.5s;
  }
  
  .accordion input:checked~.acc_body {
    height: auto;
    color: #000;
    font-size: 16px;
    padding: 20px;
    transition: 1s;
  } */